* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    display: flex;
    justify-content: center;
    font-family:Helvetica, Arial, sans-serif;
}


.main-container {
    max-width: 2060px;  
}

.container {
    background-color: #F2F4F7;
    padding: 2% 22% 9.6% 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div h1 {
    color: #0866FF;
    font-size: 3.5rem;
}

.container div #Facebook{
    font-size: 1.5rem;
}

.login-page {
    margin-left: 4rem;
    padding: 1rem;
    border:none;
    background-color:white;
}

.login-signup {
    margin-top: 6rem;
}

.login-page p input {
    padding-left: .5rem;
    width: 23rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 0.4rem;
}

.login-btn {
    background-color: #0866FF;
    color: white;
    font-weight: 800;
}

.login-page p {
    margin-top: .7rem;
   
}

#style {
    color: #1C1E21;
    font-weight: 900;
}

a {
    padding-left: 7rem;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

hr {
    margin: 1rem 0 1rem 0;
}


#submit_button {
    background-color: #36A420;
    color: white;
    font-weight: 900;
    margin-left: 5rem;
    width: 11rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: none;
}

.style {
    margin-top: 1.8rem;
    font-size: .9rem;
}

.footer {
    margin-top: 2rem;
    padding: 0 20% 0 20%;
}

.footer-1 {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;

}

li:hover {
    text-decoration: underline;
}

.footer-1 li{
    margin-left: 1rem;
    margin-top: .5rem;
    list-style-type: none;
    font-size: .9rem;
}

.bottom-copy {
    margin: 1rem 0 1rem .8rem;
}

@media (max-width:1024px) {

    .main-container {
        max-width: 1024px;  
    }

    .container {
        padding:2% 5% 9.6% 5%;
    }

    .footer {
        margin-top: 2rem;
        padding:0;
    }


    .footer-1 li{
        font-size: .8rem;
    }
}

@media (max-width:768px) {

    .main-container {
        max-width: 768px;  
    }

   
    .container div h1 {
        
        font-size: 3rem;
    }
    
    .container div #Facebook{
        font-size: 1.2rem;
        font-family:Helvetica, Arial, sans-serif;
    }

    
    .login-page p input {
        width: 16rem;
    }

    a {
        padding-left: 4rem;
        
    }


    #submit_button {
        margin-left: 2.5rem;
    }

   
}


@media (max-width:425px) {

    .main-container {
        max-width: 425px;  
    }

    .container {
        padding:2% 2% 9.6% 2%;
    }


    .container div h1 {
        font-size: 2rem;
    }
    
    .container div #Facebook{
        font-size: .7rem;
    }

    
    .login-page p input {
        width: 10rem;
        font-size: .6rem;
    }

    a {
        padding-left: 2rem;
        font-size: .6rem;
        
    }


    #submit_button {
        margin-left: 1.3rem;
        width: 7rem;
        height: 3rem;
        font-size: .6rem;

    }

    .login-page {
        margin-left: 2rem;
        padding: 1rem;
        border:none;
        background-color:white;
    }
    
    .style {
    
        font-weight: 900;
        font-size: .5rem;
    }
   
}

@media (max-width:320px) {
    .main-container {
        max-width:320px;
    }

    .container div h1 {
        font-size: 1.3rem;
        margin-left: .3rem;
    }
    
    .container div #Facebook{
        font-size: .7rem;
        margin-left: .3rem;
    }
    
    .login-page {
        margin-left: 2rem;
        padding: .5rem;
        text-align: center;
        
    }

    .style {
        font-size: .8rem;
        margin: 1rem;
    }

    #style {
        font-size: .8rem;
    }



}
